.login {
    background-image: url("https://www.textures.com/system/gallery/photos/Paper/Crumpled/38226/PaperCrumpled0004_1_350.jpg");
    padding: 2rem 2rem 2rem 2rem;
}

.title {
    padding: 0 2rem 2rem 2rem;
}

.loginButton {
    display: flex;
    justify-content: space-evenly;

}

.formArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginForm {
   width: 20rem; 
}

.form-group {
    width: 15rem;
}